.banner {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e; // Fondo oscuro

  .banner-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(0.8); // Ajusta la imagen para que combine mejor con el tema oscuro
  }
}

.login-button-container {
  margin: 20px;
  display: flex;
  justify-content: center;

  ion-button {
    width: 100%;
    max-width: 300px;
    background-color: #333; // Botón oscuro
    color: #fff; // Texto blanco
    border: 1px solid #555; // Borde para dar contraste

    &:hover {
      background-color: #444; // Color más claro al pasar el mouse
    }
  }
}
