ion-app {
  // Configuración general para toda la aplicación
  display: flex;
  flex-direction: column;
  height: 100vh;

  app-header {
    // Estilos para el header
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; // Mantenerlo siempre por encima del contenido
    background-color: #343a40;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  ion-split-pane {
    display: flex;
    flex-grow: 1;
    margin-top: 60px; // Dejar espacio para el header fijo

    ion-menu {
      width: 250px; // Ancho fijo para el menú lateral
      background-color: #343a40; // Fondo del menú
      color: #fff;

      ion-content {
        --background: var(--ion-background-color, #343a40);
      }

      ion-list-header, ion-note {
        padding-left: 20px;
      }

      ion-item {
        --padding-start: 20px;
        --padding-end: 20px;
        border-radius: 4px;
        color: #fff;

        &.selected {
          --background: rgba(var(--ion-color-primary-rgb), 0.2);
        }

        ion-icon {
          color: #fff;
        }
      }
    }

    ion-router-outlet {
      flex-grow: 1;
      background-color: #f4f4f4; // Fondo para el contenido principal
      padding: 20px;
    }
  }
}
